@{
    ViewData["Title"] = "Home Page";
}

<textarea id="userText" rows="5" cols="50" placeholder="Escribe el texto aquí..."></textarea>
<br>
<br>

<button onclick="speakText()">Reproducir Audio</button>

<!-- Enlazamos el archivo JavaScript externo -->
<script src="~/js/speech.js"></script>
